@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

@import 'blocks/titles';
@import 'blocks/widths';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/about';
