.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FFAC02;
    box-shadow: 2px 3px 0px 0px #AA9275;
    color: #141414;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 25px 35px;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    transition: .2s all;
    &:hover {
        background: #D0941A;
    }
}