.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #42372A;
    box-shadow: 2px 3px 0px 0px #AA9275;
    color: #F0E8DD;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 25px 35px;
    width: fit-content;
    cursor: pointer;
}